# .NET build folders
bin/
obj/
*.user
*.rsuser
*.suo
*.cache
*.log
.vs/

# ASP.NET Core config files
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

# Node / React
node_modules/
dist/
build/

# VS Code
.vscode/

# Others
*.db
*.sqlite
wwwroot/dist/
