.login-container {
  display: flex;
  max-width: 1160px; 
  height: 604px; 
  margin: 50px auto; 
  border-radius: 10px;
  overflow: hidden;
  
}

.login-image {
  flex: 1; 
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.login-form {
  flex: 1; 
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}


.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.title_page{
  font-size: 36px;
  font-weight: 700;
  color: #3E3ED9;
}

/* ورودی‌ها */
.input-wrapper {
  position: relative;
  margin-bottom: 20px;
  width: 65%;
  margin-left: 90px;
}

.input-wrapper .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #000000;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

/* دکمه ورود */
.Login_btn{
  width: 80%;
  height: 45px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  background-color: #3E3ED9;
  border: none;
  cursor: pointer;
  margin-left: 50px;
}

.forgot_password{
  align-self: flex-end;
  margin-bottom: 60px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 100px;
}
.forgot_password a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.forgot_password a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.logo {
  position: absolute;  
  top: 20px;            
  right: 20px;         
  z-index: 10;        
}

.logo img {
  width: 100px;
  height: auto;         
}