 .container{
    display: flex;
    flex-direction: column;
    /* margin-left: 750px;*/
    margin-top: 250px; 
    margin: auto;
    margin-top: 150px;

    padding-bottom: 30px ;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 160%;
    margin-top: 30px;
}
.title_page{
    font-size: 40px;
    font-weight: 700;
}

