.container .rectangle {
  background-color: #edf1fc;
  border-radius: 50px;
  height: 650px;
  left: 25px;
  position: absolute;
  top: 41px;
  width: 1200px;
}
.dashboard{
  position: absolute;
  top: -70px;
  left: 5px;
}

.btn_dashdoard-edit{
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  direction: rtl;
  font-family: "Italiana-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1245px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  padding: 20px 45px;
  top: 250px;
  width: 210px;
  height: 80px;
  border: none;
} 

.container .btn_manage_course {
  color: #000000;
  border-radius: 20px;
  background-color: #edf1fc;
  direction: rtl;
  font-family: "Italiana-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1247px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  padding: 20px 20px;
  top: 350px;
  width: 210px;
  height: 80px;
  border: none;
}

.btn_limitunit_inedit_course{
  color: #000000;
  border-radius: 20px;
  background-color: #ffffff;
  direction: rtl;
  font-family: "Italiana-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1247px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  padding: 20px 20px;
  top: 450px;
  width: 210px;
  height: 80px;
  border: none;
}

.icon_limitunit .icon{
  aspect-ratio: 1;
  height: 55px;
  left: 1360px;
  object-fit: cover;
  position: absolute;
  top: 460px;
  width: 95px;
}

.icon_doshboard .icon{
  aspect-ratio: 1;
  height: 60px;
  left: 1360px;
  object-fit: cover;
  position: absolute;
  top: 260px;
  width: 96px;
} 

.container .shahid-chamran {
  aspect-ratio: 1.12;
  height: 100px;
  left: 1300px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 110px;
}
.icon_manage_course .icon{
  aspect-ratio: 1;
  height: 60px;
  left: 1360px;
  object-fit: cover;
  position: absolute;
  top: 357px;
  width: 96px;
}
.btn-editcourse-edit{
    height: 37px;
    left: 700px;
    position: absolute;
    top: 130px;
    /* border: 1px solid #333; */
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background: #D6AFE0;
    width: 185px;
}

.text-editcourse{
    color: #000000;
    direction: rtl;
    font-family: "Fahkwang-Regular", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    left: 150px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 100px;
    width: 207px;
}

/* field name course */
.field-name-editcourse{
    position: absolute;
    width: 200px;
    left: 900px;
    top: 250px;
}
.label-name-editcourse{
    position: absolute;
    top: -20px;    
    right: 0px;    
    direction: rtl;
}
.assign1{
    color: red;
}

.ipt-name-editcourse{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    direction: rtl;
}

/* field code */

.field-code-editcourse{
    position: absolute;
    width: 200px;
    left: 650px;
    top: 250px;
}

.label-code-editcourse{
    position: absolute;
    top: -20px;    
    right: 0px;    
    direction: rtl;
}
.assign2{
    color: red;
}
.ipt-code-editcourse{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    direction: rtl;
}

/* field vahed */

.field-vahed-editcourse{
    position: absolute;
    width: 200px;
    left: 400px;
    top: 250px;
}

.label-vahed-editcourse{
    position: absolute;
    top: -20px;    
    right: 0px;    
    direction: rtl;
}
.assign3{
    color: red;
}
.ipt-vahed-editcourse{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    direction: rtl;
}

/* field capacity */

.field-capacity-editcourse{
    position: absolute;
    width: 200px;
    left: 150px;
    top: 250px;
}

.label-capacity-editcourse{
    position: absolute;
    top: -20px;    
    right: 0px;    
    direction: rtl;
}

.assign4{
    color: red;
}
.ipt-capacity-editcourse{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    direction: rtl;
}

/* field teacher name */
.field-teacher-editcourse{
    position: absolute;
    width: 200px;
    left: 900px;
    top: 380px;
}

.label-teacher-editcourse{
    position: absolute;
    top: -20px;    
    right: 0px;    
    direction: rtl;
}

.assign5{
    color: red;
}
.ipt-teacher-editcourse{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    direction: rtl;
}

/* field time */

.field-time-editcourse{
    position: absolute;
    width: 200px;
    left: 650px;
    top: 380px;
}

.label-time-editcourse{
    position: absolute;
    top: -20px;    
    right: 0px;    
    direction: rtl;
}

.assign6{
    color: red;
}
.ipt-time-editcourse{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    direction: rtl;
}

/* field palace */
.field-place-editcourse{
    position: absolute;
    width: 200px;
    left: 400px;
    top: 380px;
}

.label-place-editcourse{
    position: absolute;
    top: -20px;    
    right: 0px;    
    direction: rtl;
}

.assign7{
    color: red;
}
.ipt-place-editcourse{
    position: absolute;
    width: 180px;
    height: 30px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    direction: rtl;
}

/* field examtime */
.field-examtime-editcourse{
    position: relative;
    width: 220px; 
    margin-top: 480px; 
    margin-right: 755px;
}

.label-examtime-editcourse{
    display: flex;
    align-items: center;
    gap: 4px; /* فاصله بین ستاره و متن */
    font-weight: 500;
    direction: rtl; 
    margin-bottom: 6px;
}

.assign8{
    color: red;
}

.ipt-examtime-editcourse{
  width: 180px;
  height: 30px;
  border-radius: 5px;
  
  direction: rtl;
}


/* پیش نیاز */

.prereq-dropdown-editcourse{
  position: relative;
  width: 94%;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  z-index: 10;
  margin-left: -355px;
  margin-top: -13px;
  top: 20px;
}

.prereq-item-editcourse {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  font-size: 13px;
}

.prereq-item-editcourse:hover {
  background-color: #f5f5f5;
}

.field-description-editcourse{
  position: relative;
  width: 220px;
  margin-top: -170px;
  margin-right: 1128px;
}


.label-description-editcourse{
  display: flex;
  align-items: center;
   
  font-weight: 500;
  direction: rtl; 
  margin-bottom: 6px;
}

.ipt-description-editcourse{
  width: 180px;
  height: 30px;
  border-radius: 5px; 
  direction: rtl;
}

/* icon exit */
.icon_exit_edit_course{
  position: absolute;
  top: 66px;
  left: 110px;
  background-color: #ffffff;
  border: none;
  z-index: 11;
}
.exit_edit_course{
  width: 30px;
  height: 20px;
  transform: scalex(-1);
}
  
  /*دکمه ثبت درس*/
.course-edit-btn{
      position: absolute;
      left: 540px;
      top: 600px;
}
.course-edit{
    width: 200px;
    height: 40px;
    background-color: #2e55ca;
    color: #ffffff;
    border-radius: 5px;
}