body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;
  background: #f7f9fc;
}

/* menu */
.menu-panel-teach {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  /* display: flex; */
  align-items: center;
  justify-content: space-between; 
}
.logo-subtitle {
  display: flex;
}
.logo{
  margin-right: 100px;
  font-size: 20px;
  /* font: bold; */
  font-weight: bold;
}
.subtitle {
  font-size: 16px;
  color: #555;
  margin-top: 40px;
  margin-right: 100px;
}
.btn-icon-deader {
  width: 60px;
  height: 60px;
  background-color: #2563eb;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1070px;
  margin-top: -60px;
}
.icon-teaschdash {
  color: #fff;
}

/* course card */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  margin-top: 50px;
  justify-items: start;
}

.course-card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  width: 400px;
  height: 100px;
  box-shadow: 0 4px 12px #c3e7f6;
  border: 2px solid transparent;
  flex-direction: column;
  justify-content: space-between;
}

.course-card:hover {
  border: 2px solid #8fd4f1;
  box-shadow: 0 6px 16px rgba(215, 239, 245, 0.15);
  transform: translateY(-3px);
}
.title-course-card{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}
.code-course-card{
  font-size: 12px;
  color: #555;
  margin: 0;
  top: 10px;
}
.term-course-card{
  font-size: 12px;
}

/* .badge {
  display: inline-block;
  margin-top: 8px;
  background: #efefef;
  padding: 2px 10px;
  border-radius: 8px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  text-align: left;
}
.icon-users-card{
  width: 80px;
  height: 80px;
  top: 20px;
} */

.students-info {
  display: flex;
  align-items: center;  /* عمودی وسط چین */
  gap: 5px;             /* فاصله بین عدد و آیکون */
  margin-top: 10px;
}

/* آیکون کاربران */
.icon-users-card {
  width: 20px;
  height: 20px;
  color: #2563eb;
}

/* آیکون کتاب */
.icon-book-card {
  width: 20px;
  height: 20px;
  color: #4caf50;
  margin-top: 10px;
}

.student-card {
  background: white;
  padding: 14px;
  margin: 12px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.score {
  font-weight: bold;
}

.delete-btn {
  background: #e11d48;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.back-btn {
  margin: 20px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.icon_exit_pro_dashboard {
  margin-right: 1300px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transform: scaley(-1);
}