/* ساختار کلی */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #edf1fc;
  direction: rtl;
}

/* سایدبار */
.sidebar {
  width: 260px;
  margin-top: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;   /* خیلی مهم */
  align-items: center;
}

.logo {
  width: 120px;
  margin-bottom: 40px;      /* فاصله لوگو از دکمه‌ها */
}

.sidebar-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;              
}

.side-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  background: #fff;
  font-size: 18px;
  cursor: pointer;
  justify-content: flex-start;
  height: 65px;
}

.side-btn.active {
  background: #edf1fc;
}

.side-btn .icon {
  font-size: 24px;
}

/* محتوای اصلی */
.main-content {
  flex: 1;
  padding: 30px;
}

/* نوار بالا */
.top-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 15px 25px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.logout {
  margin-right: auto;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transform: scalex(-1);
}

/* فرم */
.unit-limit-container {
  background: #fff;
  padding: 40px;
  border-radius: 25px;
  width: 400px;
  margin-right: 250px;
}

.unit-input {
  margin-bottom: 25px;
}

.unit-input label {
  display: block;
  margin-bottom: 8px;
}

.unit-input input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 16px;
}

/* دکمه ذخیره */
.save-btn {
  width: 100%;
  height: 40px;
  background: #2e55ca;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

/* پیام‌ها */
.message.error {
  color: red;
  background: #ffe6e6;
  padding: 8px;
  border-radius: 8px;
}

.message.success {
  color: green;
  background: #e6ffe6;
  padding: 8px;
  border-radius: 8px;
}
